*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: calc(100vh - 1rem);
  padding: 0 0 0;

  text-align: center;
  background: linear-gradient(135deg, #141414, #00afe4);
  color: whitesmoke;
  
}

.App{
  margin: 1rem 0 0;
}

.selection-button{
  margin: 0 1rem 1rem;
  padding: 0.5rem 2rem;

  background-color: whitesmoke;
  
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 10px grey;
  
  cursor: pointer;
}

.selection-button:hover{
  animation-name: hover-button;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

@keyframes hover-button{
  from{
    box-shadow: 2px 2px 5px grey;
    text-shadow: 0 0 0 grey;
  }
  to{
    box-shadow: 5px 5px 20px grey;
    text-shadow: 2px 2px 10px grey;
  }
}

#sheetmusic{
  height: auto;
  width: 95vw;

  margin: 0 auto;

  background-color: whitesmoke;

  box-shadow: 2px 2px 10px grey;
}



#example-select{
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;

  border-radius: 8px;

  background-color: whitesmoke;

  cursor: pointer;
}

#example-select option{
  cursor: pointer;
}


.sample-audio{
  width: 95vw;
  margin: 1rem auto 0;
  padding: 1rem;

  /* box-shadow: 1px 3px 3px grey; */
}

.sample-audio h3{
  margin: 0;
}

.sample-audio audio{
  width: 100%;
  /* filter: sepia(0%) saturate(10%) contrast(5%) invert(0%); */
  background-color: whitesmoke;
  border-radius: 0;
}


audio::-webkit-media-controls-panel{
  background: transparent;
}


#assessment-panel{
  height: 10vh;
  width: calc(100vw - 6rem);
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

#assessment-panel button:hover{
  box-shadow: 5px 5px 20px grey;
  text-shadow: 2px 2px 10px grey;
}

#assessment-panel button{
  width: 27vw;
  margin: 0 0.5rem;
  padding: 10px 0;

  font-size: 2rem;

  opacity: 0.5;

  border: none;
  border-radius: 20px;

  cursor: pointer;

  animation-name: zoom-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  
}

@keyframes zoom-in{
  from{
    transform: scale(0.01);
  }
  to{
    transform: scale(1);
  }
}


#assessment-panel button.selected{
  opacity: 1;
}

#assessment-stage{
  margin: 0;
  font-weight: 300;

  animation-name: pulsing-text;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

}

@keyframes pulsing-text{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}

